<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">



  <Product Id="*" Name="Traktor Tagger" Language="1033" Version="0.1.2" Manufacturer="Eric Anastas" UpgradeCode="83dd2426-9f17-47d1-bf5c-885bfbdf6803">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"  Id="*" Description="Traktor Tagger Installer"/>


    <Media Id="1" Cabinet="TraktorTaggerSetup.cab" EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name ="Traktor Tagger">
          
          
          <Component Id="MainExecutable" Guid="1563C0F2-CD5B-48C6-8C35-3202B7F9C674">
            <File Id="TraktorTaggerEXE" Name="TraktorTagger.exe" Source="..\TraktorTagger\bin\Release\TraktorTagger.exe" Vital="yes" KeyPath="yes">
              <Shortcut Id="StartMenuIcon" Directory="ProgramMenuDir" Name="Traktor Tagger" WorkingDirectory="INSTALLDIR" Advertise="yes"/>
              <Shortcut Id ="DesktopIcon" Directory="DesktopFolder" Name ="Traktor Tagger" WorkingDirectory="INSTALLDIR" Advertise="yes"/>
            </File>
          </Component>

          <Component Id="Log4NetAssembly" Guid="40BE0F38-D1FA-4BA7-AB6E-359BFE29F9E3">

            <File Id="Log4NetDLL" Name="log4net.dll" Source="..\TraktorTagger\bin\Release\log4net.dll" Vital="yes" KeyPath="yes" />

          </Component>


          <Component Id="ConfigFile" Guid ="916418DE-3741-4147-B2AB-FC6DB207FEA2">
            <File Id="TraktorTaggerCONFIG" Name="TraktorTagger.exe.config" Source="..\TraktorTagger\bin\Release\TraktorTagger.exe.config" Vital="yes" KeyPath="yes" />
          </Component>


          <Component Id="DebugFile" Guid ="00C6C2DD-2BFD-49D4-B7CF-81F669AD87AA">
            <File Id="TraktorTaggerPDB" Name="TraktorTagger.pdb" Source="..\TraktorTagger\bin\Release\TraktorTagger.pdb" Vital="yes" KeyPath="yes" />
          </Component>

        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Traktor Tagger">
          <Component Id="ProgramMenuDir" Guid="F497E503-F874-4FE3-B35A-9708587B5637">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>


      <Directory Id="DesktopFolder" Name="Desktop"/>


    </Directory>

    <Feature Id="Complete" Level ="1">

      <ComponentRef Id="MainExecutable"/>
      <ComponentRef Id="ProgramMenuDir"/>
      <ComponentRef Id="ConfigFile"/>
      <ComponentRef Id="Log4NetAssembly"/>
      <ComponentRef Id ="DebugFile"/>

    </Feature>









  </Product>

</Wix>