<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TraktorTagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TracktorTagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TraktorTagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <TraktorTagger.Properties.Settings>
            <setting name="BeatportTracksPerPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DiscogsReleasesPerPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DiscogsFormatFilter" serializeAs="String">
                <value>Vinyl</value>
            </setting>
        </TraktorTagger.Properties.Settings>
        <TracktorTagger.Properties.Settings>
            <setting name="BeatportTracksPerPage" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DiscogsReleasesPerPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DiscogsFormatFilter" serializeAs="String">
                <value>Vinyl</value>
            </setting>
        </TracktorTagger.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TraktorTagger.Properties.Settings>
            <setting name="RecentNML" serializeAs="String">
                <value />
            </setting>
        </TraktorTagger.Properties.Settings>
    </userSettings>
</configuration>