<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <root>
    <level value="ALL" />
    <!--<appender-ref ref="DebugAppender" />-->
    <!--<appender-ref ref="BufferedErrorAppender" />-->
  </root>




  <appender name="DebugAppender" type="log4net.Appender.RollingFileAppender">
    <file value="TraktorTagger_DebugLog.txt" />
    <appendToFile value="false" />
    <rollingStyle value="Once" />
    <maxSizeRollBackups value="1" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>


  <appender name="BufferedErrorAppender" type="log4net.Appender.BufferingForwardingAppender">
    <bufferSize value="50" />
    <lossy value="true"/>
    <evaluator type="log4net.Core.LevelEvaluator">
      <threshold value="WARN" />
    </evaluator>
    <appender-ref ref="ErrorLogFileAppender" />
  </appender>



  <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="TraktorTagger_ErrorLog-%date{dd-MM-yyyy}.txt" />
    <appendToFile value="true" />
    <PreserveLogFileNameExtension value="true"/>
    <rollingStyle value="Date" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="10" />
    <CountDirection value="-1"/>
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline" />
    </layout>
  </appender>


</log4net>

