<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TraktorTagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TracktorTagger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <TraktorTagger.Properties.Settings>
            <setting name="BeatportTracksPerPage" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DiscogsReleasesPerPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DiscogsFormatFilter" serializeAs="String">
                <value>Vinyl</value>
            </setting>
            <setting name="DonateURL" serializeAs="String">
                <value>https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=RXJ2FTG86K9X6</value>
            </setting>
            <setting name="HelpURL" serializeAs="String">
                <value>https://code.google.com/p/traktor-tagger/wiki/Overview</value>
            </setting>
            <setting name="AboutURL" serializeAs="String">
                <value>https://code.google.com/p/traktor-tagger/</value>
            </setting>
        </TraktorTagger.Properties.Settings>
        <TracktorTagger.Properties.Settings>
            <setting name="BeatportTracksPerPage" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="DiscogsReleasesPerPage" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DiscogsFormatFilter" serializeAs="String">
                <value>Vinyl</value>
            </setting>
        </TracktorTagger.Properties.Settings>
    </applicationSettings>
</configuration>